{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="all-product-container">
    <div class="women-attire">
        <div class="h1">
            <h1>Welcome to Our Game Home</h1>
        </div>
        
    
   
        <div class="col-6">
            <a href="{% url 'product_list_by_category' category='health' %}">
            <img src="{% static 'images/712x384-copy.jpg' %}" alt="">
        </a>
    </div>
    <div class="col-6">
        <a href="{% url 'product_list_by_category' category='accessory' %}">
            <img src="{% static 'images/Desktop_Homepage_Slider__712x384.jpg' %}" alt="">
        </a>
    </div>

   
    <div class="row">
       
        {% for product in accessory %}
        <div class="col-2">
            {% if product.image %}
            <a href="{% url 'product_list_by_category' category='accessory' %}">
            <img src="{{ product.image.url }}" alt="Image for {{ product.name }}" class="all-product-container-img">
            {% else %}
            <p>No image available</p>
            {% endif %}
            <h3>{{ product.name }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
    {% comment %} <div class="col-6">
        <img src="{% static 'images/360_F_383218557_t5fC98hOdrg0hr4BsulCZ9mPX9a4uube.jpg' %}" alt="">
    </div> {% endcomment %}


<div class="women-attire">
   
    <div class="row">
        <div class="h1">
            <h1>Games</h1>
        </div>
        {% for product in accessory %}
        <div class="col-2">
            {% if product.image %}
            <a href="{% url 'product_list_by_category' category='computer' %}">
            <img src="{{ product.image.url }}" alt="Image for {{ product.name }}" class="all-product-container-img">
            {% else %}
            <p>No image available</p>
            {% endif %}
            <h3>{{ product.name }}</h3>
            <h3>${{ product.price }}</h3>
           
            </a>
        </div>
        {% endfor %}
    </div>

</div>


{% endblock content %}