{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="product-detail">
    <h2>{{ product.name }}</h2>
    {% if product.image %}
    <img src="{{ product.image.url }}" alt="Image for {{ product.name }}" class="product-image">
    {% else %}
    <p>No image available</p>
    {% endif %}
    <p>{{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Stock: {{ product.stock }}</p>
    <p>Category: {{ product.get_category_display }}</p>
    <a class='add_to_cart' href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
</div>
{% endblock %}
